body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(88, 90, 86);
  background: linear-gradient(
    327deg,
    rgba(88, 90, 86, 0.9531162806919643) 0%,
    rgba(88, 90, 86, 0.7878501742493873) 23%,
    rgba(88, 90, 86, 0.5777661406359419) 42%,
    rgba(88, 90, 86, 0.7514356084230567) 65%,
    rgba(88, 90, 86, 0.33126754119616597) 100%
  );
  color: #272424;
  font-family: 'Lato', sans-serif;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 320px;
  gap: 5px;
  margin-bottom: 1rem;
  background: inherit;
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  background: rgba(158, 215, 142, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.cell:hover {
  background: rgba(158, 215, 142, 0.4);
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 600;
  margin-top: 2rem;
}

button {
  text-transform: uppercase;
  width: 8rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  transition: all 0.3s ease-out;
  background: rgba(218, 210, 210, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  cursor: pointer;
}

button:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

h1 {
  text-align: center;
}

h3 {
  text-align: end;
}
